

:root {
    --preto: #000000;
    --vermelho: #e53939;
    --branco: #ffffff;
}


body{
    background-color: var(--preto) !important;
    color: var(--branco) !important;
}

a{
    text-decoration: none !important;
    color: var(--branco) !important;
}

a:hover{
    color: var(--vermelho) !important;
}

.quadrado-gostos{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-color: var(--vermelho) !important;
    background-color: var(--branco);
}

.divisao-quadrados{
    gap: 40px;
}


#perfil{
    width: 350px;
}