#card{
    display: flex;
    justify-content: center;

    transform-style: preserve-3d;
    transition: all .5s;
}

.face{
    width: 110px;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#front{
    width: 150px;
    height: 150px;
}

#back{
    width: 150px;
    height: 150px;

    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.flip{
    width: 150px;
    height: 150px;
    transform: rotateY(180deg);
}