:root {
    --preto: #000000;
    --vermelho: #e53939;
    --branco: #ffffff;
}

body{
    background-color: var(--preto) !important;
    color: var(--branco) !important;
}

a{
    text-decoration: none !important;
    color: var(--branco) !important;
}

a:hover{
    color: var(--preto) !important;
}

#menu{
    border-color: var(--preto) !important; 
    background-color: var(--vermelho);
}

#apresentacao{
    border-color: var(--vermelho) !important;
}

#perfil{
    width: 350px;
    border-color: var(--vermelho) !important;
}


#descricao{
    background-color: var(--vermelho);
    border-color: var(--branco) !important;
}

#divisao-quadrados{
    gap: 40px;
    color: var(--preto) !important;
}

#quadrado-gostos{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    height: 230px;
    border-radius: 20px;
    border-color: var(--vermelho) !important;
    background-color: var(--branco);
}



#quadrado-gostos img{
    width: 90px;
}

#quadrado-gostos:hover{
    transition-delay: 150ms;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    
}

#rodape a:hover{
    color: var(--vermelho) !important;
}

::-webkit-scrollbar{
    width: 10px;
} 

::-webkit-scrollbar-thumb{
    background-color: #464646;
}